{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Rating:</dt>
    <dd>{{ book.rating }}</dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
	<dd>{{ num_available }}</dd>
	{% if user.is_authenticated %}
		<dt>Rate Book:</dt>
		<dd>
		<input id="rating" type="number" min="0" max="10" value="{{ book.rating }}">
		<button class="btn btn-primary" id= "rate-button" onclick="rateBook({{ book.id }})">Rate {{ book.title }}</button>
		</dd>
		
    {% endif %}
</dl>
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<script>
$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured,it seems you are not logged in!");
		}

	})
})

function rateBook(bid){
	const rating = document.getElementById("rating").value
	$.ajax({
		url: "{% url 'rate-book'%}",
		method:"POST",
		data:{
			bid: bid,
			rating:rating,
		},
		success: function(data, status, xhr){
			if(data['message']=="success"){
				location.reload();
				alert('Thanks for update!');
			}
			else{
				var msg = data['message'];
				alert(msg);
			}
		},
		error: function(xhr, status, err){
			alert('Some error occured while updating the book!');
		}
	})
}
</script>
{% endblock %}